﻿<r-add-cart>

    <yield></yield>

    <script>
        var self = this;
        self.items = [];


        self.on('mount', function () {
            self = this;
            $(self.root).on('click', function (e) {
                e.preventDefault();
                var qty = 1;
                if (self.opts.qty) {
                    qty = $(self.opts.qty).val();
                    self.opts.count = qty;
                }

                var list = localStorage.getItem('cart')
                list = list ? JSON.parse(list) : [];
                var there = list.filter(function (e) {
                    return e.uid == self.opts.uid;
                })

                if (there.length == 0) { 
                    list.push(self.opts)
                }  
                localStorage.setItem('cart', JSON.stringify(list));

                riot.update();

                $.toast({text:'تم الإضافة الى السلة',icon:'success'});

            })

             
        })

        self.on('update', function () {
            self = this;

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];
            self.items = list;
        });


    </script>
</r-add-cart>
