﻿<r-cart-menu>
    <div class="block-subtitle hidden-xs">منتجات مضافة حديثا</div>
    <ul id="cart-sidebar" class="mini-products-list">
        <li each="{item in items}" class="item odd">
            <a href="/product_details/?uid={item.uid}" title="{item.name}"
               class="product-image">
                <img src="{item.img}?width=100&height=100" alt="{item.name}"
                     width="65">
            </a>
            <div class="product-details">
                <a href="#" onclick="{fnRemove.bind(this,item.uid)}" title="حذف المنتج" class="remove-cart">
                    <i class="icon-close"></i>
                </a>
                <p class="product-name">
                    <a href="/product_details/?uid={item.uid}">{item.name}</a>
                </p>
                <strong>1</strong> x <span class="price">{item.price} SAR</span>
            </div>
        </li>
        <li each="{items.length == 0}" class="item odd">
            لا يوجد منتجات
        </li>
    </ul>
    <div class="top-subtotal">مجموع الحساب: <span class="price" dir="ltr">{total} SAR</span></div>
    <div class="actions">
        <a href="/checkout/" if="{items.length != 0}" class="btn-checkout">

            <i class="fa fa-check"></i><span>الدفع</span>
        </a>

    </div>

    <script>
        var self = this;
        self.items = [];
        self.total = 0;


        self.on('mount', function () {
            self = this;

            self.update();

        })

        self.on('update', function () {
            self = this;
            self.total = 0;

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];
            self.items = list;
            self.items.map(function (e) {

                if(e.price) self.total = self.total + (parseFloat(e.price) * parseFloat((e.count?e.count:1)));
            })

        });


        self.fnRemove = function (uid, e) {
            if (e) e.preventDefault();

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];


            list = list.filter(function (e) {
                return e.uid != uid;
            })

            self.items = list;
            localStorage.setItem('cart', JSON.stringify(list))
            riot.update();
        }


    </script>
</r-cart-menu>
