﻿<r-cart-table>

    <div class="table-responsive panel-body">
        <table class="table table-bordered cart_summary">
            <thead>
                <tr>
                    <th class="action"><i class="fa fa-trash-o"></i></th>
                    <th class="cart_product">اسم المنتج</th>
                    <th>الوصف</th>
                    <th>سعر الوحدة</th>
                    <th>العدد</th>
                    <th>المجموع</th>
                </tr>
            </thead>
            <tbody>
                <tr each="{item in items}">
                    <td class="action">
                        <a href="#" onclick="{fnRemove.bind(this,item.uid)}" title="حذف المنتج"><i class="fa fa-trash-o"></i></a>
                    </td>
                    <td class="cart_product">
                        <img src="{item.img}?width=100&height=100" alt="{item.name}"
                             width="65">
                    </td>
                    <td class="cart_description">
                        <p class="product-name"><a href="#">{item.name} </a></p>
                    </td>
                    <td class="price"><span dir="ltr">{item.price} SAR  </span></td>
                    <td class="qty">
                        <input class="form-control input-sm" onchange="{fnCalcAmount.bind(this,item)}" type="number" min="1" value="{(item.count ? item.count:1)}">
                    </td>
                    <td class="price">
                        <span dir="ltr">{item.price * (item.count ? item.count:1)} SAR </span>
                    </td>
                </tr>
                <tr if="{items.length == 0}">
                    <td colspan="6">
                        <b>
                            لا يوجد منتجات
                        </b>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" rowspan="2"></td>
                    <td colspan="3">إجمالى القيمة المضافة</td>
                    <td colspan="2" dir="ltr">{total * 0.05}  SAR </td>
                </tr>
                <tr>
                    <td colspan="3"><strong>الإجمالى</strong></td>
                    <td colspan="2"><strong dir="ltr">{total + (total * 0.05)}  SAR</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <button class="button pull-right" type="button" onclick="{fnCreateOrder}"><span>تأكيد الطلب</span></button>
    <script>
        var self = this;
        self.items = [];
        self.total = 0;


        self.on('mount', function () {
            self = this;

            self.update();
        })

        self.on('update', function () {
            self = this;
            self.total = 0;

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];
            self.items = list;
            self.items.map(function (e) {
                if (e.price) self.total = self.total + (parseFloat(e.price) * parseFloat((e.count ? e.count : 1)));
            })
        });

        self.fnCreateOrder = function (e) {
            if (e) e.preventDefault();

            $.ajax({
                url: '/api/code/order_new/',
                data: {
                    obj: JSON.stringify({
                        products: self.items
                    })
                },
                success: function (data) {
                    $.toast({ text: 'تم تسجيل طلبك بنجاح', icon: 'success' });
                    localStorage.removeItem('cart')
                    setTimeout(function () {
                        window.location.href = "/";
                    }, 2000);
                }
            })

        }
        self.fnCalcAmount = function (item, e) {
            if (e) e.preventDefault();
            var item = self.items.filter(function (e) { return e.uid == item.uid })[0];
            item.count = parseInt(e.currentTarget.value);
            if (item.count < 0) item.count *= -1;

            localStorage.setItem('cart', JSON.stringify(self.items));
            self.update();
        }

        self.fnRemove = function (uid, e) {
            if (e) e.preventDefault();

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];
             
            list = list.filter(function (e) {
                return e.uid != uid;
            });

            self.items = list;
            localStorage.setItem('cart', JSON.stringify(list))
            riot.update();
        }
     
    </script>
</r-cart-table>
