﻿<r-contactus>

    <form id="contactForm" name="sentMessage" novalidate>
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="widget mar-t-30">
                    <div class="m-b-30">
                        <div class="tab-pane fade in active" id="mission">
                            <div class="contact-form">
                                <div class="row validate-contact-form">
                                    <div class="col col-sm-6 m-b-23">
                                        <input type="text" class="form-control" name="name" placeholder="الاسم" dir="auto">
                                    </div>
                                    <div class="col col-sm-6 m-b-23">
                                        <input type="email" class="form-control" name="email" placeholder="البريد الالكترونى" dir="ltr">
                                    </div>
                                    <div class="col col-sm-6 m-b-23">
                                        <input type="text" class="form-control" name="phone" placeholder="التليفون" dir="ltr">
                                    </div>
                                    <div class="col col-sm-6 m-b-23">
                                        <select class="form-control" name="section">
                                            <option value="#" selected="selected">القسم</option>
                                            @foreach (dynamic item in services)
                                            {
                                            <option value="@item.uid">@item.name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col col-sm-6 m-b-23">

                                        <input type="text" class="form-control datepicker dtefield" id="basicDate" data-input
                                               name="Date"
                                               placeholder="الشهر / اليوم">
                                    </div>

                                    <div class="col col-sm-6 m-b-23">
                                        <select class="form-control" name="doctor">
                                            <option value="#" selected="selected">الطبيب</option>
                                            @foreach (dynamic item in doctor)
                                            {
                                            <option value="@item.uid">د/ @item.name</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col col-sm-12 submit-btn">
                                        <button type="submit" class="about-submit-btn">احجز معنا</button>
                                    </div>
                                    <div class="col col-md-12 m-b-23 success-error-message">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>

        $(function () {
             var form = $('#contactForm');

            $(form).validate({
                submitHandler: function () {
                    

                    var j = clsForm.getControls(form);
                    var msg = "";
                    msg += "Name: " + j.name + "<br />";
                    msg += "Phone: " + j.phone + "<br />";
                    msg += "Email: " + j.email + "<br />";
                    msg += "Section: " + j.section + "<br />";
                    msg += "Doctor: " + j.doctor + "<br />";
                    msg += "Date: " + j.Date + "<br />";

                    $.ajax({
                        //cache:true,
                        url: "/api/dhelper/sendemail/",
                        data: {
                            from: 'Tajmeel.com',
                            to: 'mahmoudahmed.bi@gmail.com',
                            subject: 'Tajmeel',
                            message: msg,
                        },
                        success: function (data) {
                            form.reset();

                            $.toast({ text: '  تم الارسال', icon: 'success' });


                            self.update();
                        }
                    });
                    return false;
                }
            });
        })

        var fnReset = function (e) {
            e.preventDefault();
            var form = self.refs.myform;
            form.reset();


        }
    </script>

    <style>
    </style>
</r-contactus>
