﻿<r-formater>
    <span>{moment.utc(date).format(format)}</span>
    <script>
        var self = this;
        self.date = new Date();
        self.format = 'YYYY-MMM-DD'

        self.on('mount', function () {
            self = this;
            self.update(); 
        });

        self.on('update', function () {
            self = this;
            self.date = self.opts.date || self.date;
            self.format = self.opts.format || self.format;

        });



    </script>
</r-formater>

<!--<r-formater date=""  format="MMM / DD"></r-formater>-->
<!--https://momentjs.com/downloads/moment.js-->