﻿<r-fav>

    <yield></yield>

    <script>
        var self = this;
        self.items = [];


        self.on('mount', function () {
            self = this;
            $(self.root).on('click', function (e) {
                e.preventDefault();

                var list = localStorage.getItem('wishlist')
                list = list ? JSON.parse(list) : [];
                var there = list.filter(function (e) {
                    return e.uid == self.opts.uid;
                })

                if (there.length == 0) {
                    list.push(self.opts)
                }  
                localStorage.setItem('wishlist', JSON.stringify(list));

                riot.update();
                $.toast({text:'تم الإضافة الى المفضلة',icon:'success'});

            })

             
        })

        self.on('update', function () {
            self = this;

            var list = localStorage.getItem('wishlist')
            list = list ? JSON.parse(list) : [];
            self.items = list;
        });


    </script>
</r-fav>
