﻿<r-fav-table>

    <table class="col-md-12">
        <thead>
            <tr>
                <th class="th-delate">إزالة</th>
                <th class="th-product">الصور</th>
                <th class="th-details">اسم المنتج</th>
                <th class="th-price">سعر الوحدة</th>
                <th class="th-total th-add-to-cart">إضافة الى العربة</th>
            </tr>
        </thead>
        <tbody>
            <tr each="{item in items}">
                <td class="th-delate"><a href="#" onclick="{fnRemove.bind(this,item.uid)}">X</a></td>
                <td class="th-product"><a href="#"><img src="{item.img}?width=100&height=100" alt="cart"></a></td>
                <td class="th-details">
                    <h2><a href="/product_details/?uid={item.uid}">{item.name}</a></h2>
                </td>
                <td class="th-price">{item.price} SAR</td>
                <th class="td-add-to-cart"><a href="#" onclick="{fnAdd2Basket.bind(this,item)}">إضافة الى العربة</a></th>
            </tr>

            <tr if="{items.length == 0 }">
                <th colspan="5">لا يوجد بيانات</th>
            </tr>
        </tbody>
    </table>
    <a href="#" onclick="{fnAddAll2Basket}" class="all-cart">اضف الكل الى السلة</a>

    <script>
        var self = this;
        self.items = [];


        self.on('mount', function () {
            self = this;

            self.update();
        })

        self.on('update', function () {
            self = this;

            var list = localStorage.getItem('wishlist')
            list = list ? JSON.parse(list) : [];
            self.items = list;
        });

        self.fnRemove = function (uid, e) {
          if(e)  e.preventDefault();

            var list = localStorage.getItem('wishlist')
            list = list ? JSON.parse(list) : [];


            list = list.filter(function (e) {
                return e.uid != uid;
            })

            self.items = list;
            localStorage.setItem('wishlist', JSON.stringify(list))
            riot.update();
        }

        self.fnAdd2Basket = function (item, e) {
            if (e) e.preventDefault();

            var list = localStorage.getItem('cart')
            list = list ? JSON.parse(list) : [];
            item.count = 1;
            list.push(item);
            localStorage.setItem('cart', JSON.stringify(list));

            self.fnRemove(item.uid)

            riot.update();


        }
        self.fnAddAll2Basket = function (item, e) {
            if (e) e.preventDefault();

            self.items.map(function (e) {
                self.fnAdd2Basket(e);
            });

         
            window.location.href = "/checkout/";

        }
    </script>
</r-fav-table>
