﻿<r-rating>
    <span ref="rat" 
          data-rateyo-rated-fill="{opts.color}" 
          data-rateyo-rating="{pval}%" 
          data-rateyo-star-width="15px"
          data-rateyo-rtl="true" 
          data-rateyo-read-only="{true}" 
          class="rating"></span>

    <script>
        var self = this;
         self.precentage = 0;
        self.pval = 0;

         self.on('mount', function () {
            self = this;
            $(function () {
                self.$rateYo = $(self.refs.rat).rateYo({
                    starSvg: '<svg xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>'
                });
            })
            self.update();
         });

        self.on('update', function () {
            self = this;
            self.pval = (self.opts.rate ? self.opts.rate : 0) ;
            self.precentage = parseInt(self.pval);
            fnSetMy()

            function fnSetMy() {
                if (self.$rateYo) {
                    self.$rateYo.rateYo("rating", self.pval);
                } else {
                    setTimeout(fnSetMy, 100);
                }
            }
        });

     

    </script>

    <style>
        :scope {
        display: table;
    margin: 0 auto;
        }
    </style>
</r-rating>
