﻿الاسم : {{user.name}} <br />
الهاتف :  {{user.phone}}  <br />
العنوان :  {{user.address}}  <br />
<br />
<br />
رقم الطلب :  {{order.order_number}}  <br />
<br />
<br />
<br />
<table class=" " border="1">
    <thead>
        <tr>
            <th class="cart_product">اسم المنتج</th>
            <th>الوصف</th> 
            <th>العدد</th> 
        </tr>
    </thead>
    <tbody>
        {{#products}}
        <tr>
            <td class="cart_description">
                {{name}}
            </td>
            <td class="price"><span dir="ltr"> {{price}} SAR </span></td>
            <td class="qty">  {{count}}</td>
        </tr>
        {{/products}}
    </tbody> 
</table>