﻿
.contact-us .reach span {
    margin-left: 50px;
    margin-right: auto;
}

.contact-us .reach p {
    margin-right: 50px;
    margin-left: auto;
}

ul.edit-menu li.active::before {
    left: auto;
    right: -20px;
}

ul.edit-menu li a {
    margin-right: 20px;
    margin-left: auto;
}

.edit-profile-container h4 i {
    margin-right: 15px;
}

.gender .custom-label {
    padding-right: 10px;
    padding-left: 0px;
}

.feed-item {
    text-align: right;
}

    .feed-item::before {
        right: 0;
        left: auto;
    }

ul.contact li i {
    margin-left: 20px;
    margin-right: auto;
}

.edit-block select.form-control {
    background: rgba(0, 0, 0, 0) url(../images/down-arrow.png) no-repeat scroll calc(10% - 10px) center / 8px;
}

.faq-headline .item-title i {
    margin-left: 10px;
    margin-right: auto;
}
.panel-default > .panel-heading {
    padding-left: 40px;
    padding-right: initial;
}
    .panel-default > .panel-heading::before {
        left: 15px;
        right: auto;
    }
.faq_contact .reach-out .method i {
     margin-left: 10px;
     margin-right: auto;
}
.timeline-cover .timeline-nav-bar ul.follow-me {
    left: 15px;
    right: auto;
}
.edit-profile-container h4 i {
    margin-left: 15px;
    margin-right: auto;
}
.edit-block ul.interests li {
    margin-left: 10px;
    margin-right: auto;
}
.create-post .form-group img.profile-photo-md {
    margin-left: 10px;
    margin-right: auto;
}
.post-content .post-container .post-detail {
    margin-right: 65px;
    margin-left: auto;
 }
    .post-content .post-container .post-detail .post-comment img.profile-photo-sm {
        margin-left: 10px;
        margin-right: auto;
    }
.following {
     margin-right: 20px;
     margin-left: auto;
}






